@use "../assets.scss" as app;

#game {
  background: linear-gradient(app.$background-color, #c3111d) ;
  display: grid;

  #player-cams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    grid-gap: 5px;
    .player-cam-container {
      display: grid;
      justify-self: center;

      height: 100%;
      width: 30vw;
      grid-template-rows: 1fr minmax(auto, 30%);

      .player-cam {
        height: 90%;
        width: 100%;
        align-self: center;
        border-radius: app.$cam-radius;
        justify-self: center;
      }
    }

    .controls-cam-container {
      display: grid;
      text-align: center;
      justify-self: center;
      height: 40vh;
      width: 30vw;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-content: center;
      align-items: center;

      h1 {
        color: app.$base-text-color;
        padding: 0;
        margin: 0;
      }

      .game-interaction-button {
          height: 3rem;
          width: auto;
          border-radius: app.$button-radius;
          font-size: 1.5rem;
          cursor: pointer;
      }
    }

    .host-cam-container {
      display: grid;
      justify-self: center;
      width: 30vw;
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      .host-cam {
        height: 95%;
        width: 100%;
        border-radius: app.$cam-radius;
        justify-self: center;
        align-self:center;
      }
    }
  }

  #player-card-container,
  .player-card-container__minimized {
    // background-color: #fd6131;
    background-color: transparent;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;   
  }

  #player-card-container{
    height: 15vh;
    width: auto;

    .player-card {
      height: 12vh;
      width: 7vw;

      justify-self: center;
      align-self: center;
      border-radius: app.$cam-radius;
    }

    .card {
      width: 7vw;
      height: 12vh;
    }
  }

  #player-card-container {
    grid-gap: 1rem;
  }

  .player-card-container__minimized {
    height: 90%;
    width: 100%;


    .card-container {
      width: 100%;

      .player-card {
        height: 100%;
        width: 4rem;
        justify-self: center;
        align-self: center;
        border-radius: app.$cam-radius;
      }
  
      .card {
        width: 4rem;
        height: 100%;
      }
    }

   
  }
}


.card-container {
  -webkit-perspective: 500px;
          perspective: 500px;
          display: grid;
          justify-content: center;
}

.card {
  -webkit-transition: -webkit-transform 0.7s;
          transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

/*Custom Styles*/

.card {
  width: auto;
  // margin: 10px;
}


.front, .back {
box-shadow: 0 1px 6px 0;
position: absolute;
width: 100%;
top: 0;
bottom: 0;
}

img {
display: block;
}